[flake8]
max-line-length = 120
max-complexity = 10
filename = *.py
format = default
exclude =
    */migrations/*,
    */settings/*,
    venv/*
extend-ignore =
    # ‘async’ and ‘await’ are reserved keywords starting with Python 3.7
    W606
    E203
